<div class="container font-family-fira-sans">
    <div class="row my-5">
        <div class="col-8">
            <h1 class="font-family-alfa-slab-one fs-36px fw-light">Michal Piotrowski</h1>
            <h2 class="fs-27px fw-light mt-3"><a class="font-family-alfa-slab-one" href="https://www.rust-lang.org/">Rust</a> Developer</h2>
            <p class="fs-27px mt-3">
                Developer with 15 years of experience in developing web applications. Experienced in using Rust to build scalable and reliable web systems. Skilled in delivering robust, tested, and maintainable code.
            </p>
            <p class="fs-20px">
                Demo code <a href="https://github.com/idiomatic-rust-com/alex-db">https://github.com/idiomatic-rust-com/alex-db</a>
            </p>
        </div>
        <div class="col fs-18px">
            <div class="alert alert-success" role="alert">
                <ul class="list-unstyled my-3 mx-3">
                    <li>
                        <i class="bi bi-envelope"></i> <a class="ms-2 link-light" href='&#109;ailto&#58;mic%&#54;8al&#64;&#105;di&#111;m%6&#49;tic-r&#117;&#115;t&#46;&#37;63om'>m&#105;chal&#64;idi&#111;m&#97;&#116;&#105;c-r&#117;&#115;t&#46;c&#111;m</a>
                    </li>
                    <li class="mt-3">
                        <i class="bi bi-telephone"></i> <span class="ms-2">(+48) 881 573 056</span>
                    </li>
                    <li class="mt-3">
                        <i class="bi bi-geo-alt"></i> <span class="ms-2">Janowice, Poland</span>
                    </li>
                    <li class="mt-3">
                        <i class="bi bi-github"></i> <a class="ms-2 link-light" href="https://github.com/idiomatic-rust-com">https://github.com/idiomatic-rust-com</a>
                    </li>
                    <li class="mt-3">
                        <i class="bi bi-github"></i> <a class="ms-2 link-light" href="https://github.com/eventhorizonpl">https://github.com/eventhorizonpl (older account)</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="fs-27px row my-5">
        <h2 class="fw-light text-uppercase"><i class="bi bi-gear"></i> <span class="ms-4">Technical skills</span></h2>
        <div class="mt-3 row">
            <div class="col-2">
                <b>Languages</b>
            </div>
            <div class="col">
                <ul class="list-unstyled">
                    <li>Rust - web dev, blockchain, cryptography, game dev</li>
                    <li>C - some hobby os dev in the past (I've got a few patches in Linux kernel)</li>
                    <li>C++ - some hobby game dev in Unreal engine in the past</li>
                    <li>C# - some hobby game dev in Unity engine and microservices development in the past</li>
                    <li>JavaScript - web dev</li>
                    <li>TypeScript - web dev</li>
                    <li>Python - some web dev, AI-related stuff</li>
                    <li>PHP - web dev</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <b>Other technologies</b>
            </div>
            <div class="col">
                <span class="badge bg-primary mx-2 my-2">axum</span>
                <span class="badge bg-primary mx-2 my-2">Tokio</span>
                <span class="badge bg-secondary mx-2 my-2">Angular</span>
                <span class="badge bg-secondary mx-2 my-2">AngularJS</span>
                <span class="badge bg-secondary mx-2 my-2">Angular-Meteor</span>
                <span class="badge bg-secondary mx-2 my-2">Meteor</span>
                <span class="badge bg-secondary mx-2 my-2">HTML</span>
                <span class="badge bg-secondary mx-2 my-2">CSS</span>
                <span class="badge bg-secondary mx-2 my-2">XML</span>
                <span class="badge bg-secondary mx-2 my-2">Design patterns</span>
                <span class="badge bg-secondary mx-2 my-2">REST API Development</span>
                <span class="badge bg-secondary mx-2 my-2">HHVM</span>
                <span class="badge bg-secondary mx-2 my-2">PostgreSQL</span>
                <span class="badge bg-secondary mx-2 my-2">MySQL</span>
                <span class="badge bg-secondary mx-2 my-2">Memcached</span>
                <span class="badge bg-secondary mx-2 my-2">MongoDB</span>
                <span class="badge bg-secondary mx-2 my-2">commercetools</span>
                <span class="badge bg-secondary mx-2 my-2">Redis</span>
                <span class="badge bg-secondary mx-2 my-2">Web scraping</span>
                <span class="badge bg-secondary mx-2 my-2">git</span>
                <span class="badge bg-secondary mx-2 my-2">Apache Lucene</span>
                <span class="badge bg-secondary mx-2 my-2">ElasticSearch</span>
                <span class="badge bg-secondary mx-2 my-2">Solr</span>
                <span class="badge bg-secondary mx-2 my-2">Sphinx</span>
                <span class="badge bg-secondary mx-2 my-2">Apache HTTPD</span>
                <span class="badge bg-secondary mx-2 my-2">nginx</span>
                <span class="badge bg-secondary mx-2 my-2">Varnish Cache</span>
                <span class="badge bg-secondary mx-2 my-2">Docker</span>
                <span class="badge bg-secondary mx-2 my-2">docker-compose</span>
                <span class="badge bg-secondary mx-2 my-2">Kubernetes</span>
                <span class="badge bg-secondary mx-2 my-2">Istio</span>
            </div>
        </div>
    </div>
    <div class="fs-27px row my-5">
        <h2 class="fw-light text-uppercase"><i class="bi bi-pc-display-horizontal"></i> <span class="ms-4">Work experience</span></h2>
        <p class="mt-3">Over the last 14 years, my company has delivered programming services to a diverse clientele of companies and individuals.</p>
        <p>I've completed 29 projects for 23 clients via the <a href="https://www.upwork.com/freelancers/~01a20a8329d97ef690?viewMode=1">Upwork</a> platform, and 8 projects in direct cooperation with clients.</p>
        <p>I am experienced in developing applications for various industries, including fintech (insurance, loans, money transfers, mortgage), reg tech, auction/tender systems, real estate, social networks, content management systems, and e-commerce.</p>
        <div class="row my-3">
            <h4>2021 -</h4>
            <p>
                Event Horizon Labs - my new company in Poland.
            </p>
            <div class="ms-5">
                Key development project contracts:
                <ul class="ms-5">
                    <li>2022 - 2023 - The Daily Edit (AI-powered news platform)</li>
                    <li>2021 - Delodi
                        <ul>
                            <li>2021 - LOOMPACT (impact)</li>
                            <li>2021 - ZFK (communication platform)</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row my-3">
            <h4>2017 - 2020</h4>
            <p>
                Event Horizon Labs LLP - my company in the United Kingdom.
            </p>
            <div class="ms-5">
                Key development project contracts (including some that were started by PL company):
                <ul class="ms-5">
                    <li>2019 - Studio RVB SPRL - kick-cancer (charity fundraising)</li>
                    <li>2018 - 2020 - TR Technologies - TalkRemit (FinTech)</li>
                    <li>2018 - ILIONA - WonderCoach (video streaming)</li>
                    <li>2018 - 7 days Performance (gambling)</li>
                    <li>2017 - TruMyle Ltd (InsureTech)</li>
                    <li>2017 - 2018 - ClickyHomes (real estate platform)</li>
                    <li>2016 - 2021 - LOEVGAARD ApS
                        <ul>
                            <li>2017 - 2trendy (e-commerce)</li>
                            <li>2017 - Luksusmarkiser (e-commerce)</li>
                            <li>2017 - Lykke by Lykke (e-commerce)</li>
                            <li>2016 - 2021 - Markiseeksperten (e-commerce)</li>
                            <li>2016 - 2017 - Smsit (messaging platform)</li>
                        </ul>
                    </li>
                    <li>2016 - 2018 - HCCO Retail Ltd. - Renowaze (contractor hire platform)</li>
                </ul>
            </div>
        </div>
        <div class="row my-3">
            <h4>2010 - 2016</h4>
            <p>
                Event Horizon - my first company in Poland.
            </p>
            <div class="ms-5">
                Key development project contracts:
                <ul class="ms-5">
                    <li>
                        2015 - 2016 - Studio RVB SPRL
                        <ul>
                            <li>2016 - KAZAWAX SA (e-commerce)</li>
                            <li>2015 - 2016 - Centrale d'achats (e-commerce)</li>
                        </ul>
                    </li>
                    <li>
                        2015 - 2016 - Treeli
                        <ul>
                            <li>2016 - Rentlii (renting platform)</li>
                            <li>2015 - 2016 - MyTreeTop (CRM platform)</li>
                        </ul>
                    </li>
                    <li>2015 - eyeOpen (FinTech)</li>
                    <li>2015 - Docecode Corporation - new SurexDirect platform (InsureTech)</li>
                    <li>2014 - 2015 - A. Ziara - Sockam (social network)</li>
                    <li>2014 - Aurovine (music platform)</li>
                    <li>
                        2014 - Solsken
                        <ul>
                            <li>2014 - database project</li>
                            <li>2014 - catalog platform</li>
                        </ul>
                    </li>
                    <li>2013 - 2014 - Black Onyx LLC - GameLock (selling/reselling platform)</li>
                    <li>2012 - 2013 - ImPro - Compliant Suppliers (RegTech)</li>
                    <li>2012 - Chess.com - ChessKid (online game)</li>
                    <li>2012 - Appsflower (low code framework)</li>
                    <li>2010 - 2012 - IMSoft/ProoxEnginering/EMOST.PL - EMOST (auction/tender platform)</li>
                    <li>2009 - 2010 - eLoans (FinTech)</li>
                </ul>
            </div>
        </div>
        <div class="row my-3">
            <h4>2009 - 2009</h4>
            <p>
                JBR Rogowiec - I worked there on Dealer Management System.
            </p>
        </div>
        <div class="row my-3">
            <h4>2008 - 2009</h4>
            <p>
                I attempted to develop my own product.
            </p>
        </div>
        <div class="row my-3">
            <p>
                In addition to my professional work, I have pursued multiple personal projects spanning various fields:
            </p>
            <ul class="ms-5">
                <li>AI</li>
                <li>blockchain</li>
                <li>game dev</li>
                <li>web dev</li>
            </ul>
        </div>
    </div>
    <div class="fs-27px row my-5">
        <h2 class="fw-light text-uppercase"><i class="bi bi-mortarboard"></i> <span class="ms-4">Education</span></h2>
        <div class="mt-3 row">
            <h4>2005 - 2007</h4>
            <p>
                Linux Kernel Mailing List - The best University ever :) I've found dozens of bugs in the Linux kernel. I learned a lot about software testing. I tracked regressions for some time. I did a lot of experiments with OS.
            </p>
        </div>
        <div class="row">
            <h4>2004 - 2008</h4>
            <p>
                Academy of Computer Science and Management in Bielsko-Biala
            </p>
        </div>
    </div>
    <div class="fs-27px row my-5">
        <h2 class="fw-light text-uppercase"><i class="bi bi-hand-thumbs-up"></i> <span class="ms-4">Interests</span></h2>
        <div class="mt-3 row">
            <div class="col">
                <i class="bi bi-file-text"></i> <span class="ms-2">Reading</span>
            </div>
            <div class="col">
                <i class="bi bi-pencil"></i> <span class="ms-2">Writing</span>
            </div>
            <div class="col">
                <i class="bi bi-book"></i> <span class="ms-2">Learning</span>
            </div>
            <div class="col">
                <i class="bi bi-lightbulb"></i> <span class="ms-2">Teaching</span>
            </div>
        </div>
    </div>
</div>
